.home {
    position: relative;
}

.header {
    background: #ff3b3f;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}

.header-logo {
    color: white;
    text-align: center;
    margin: 0;
    text-align: center;
}

.home > .posting-row {
    padding-top: 65px;
}

.home > .posting-row ~ .posting-row {
    padding-top: 0px;
}

button {
    background: rgb(75, 222, 252);
    color: #fff;
    border: none;
    border-radius: 20px;
    text-shadow:none;
    cursor: pointer;
}

button:hover {
    background: rgb(150, 226, 241);
    color: #fff;
    border: none;
    border-radius: 20px;
    text-shadow:none;
}

button:focus {
    outline:0;
}