.posting-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.posting-row .upvotes {
    min-width: 60px;
    text-align: center;
}

.posting-row img {
    max-width: 80px;
    max-height: 80px;
}

.posting-row .post-title {
    margin: 0px 10px;
}

.spacer {
    flex: 1;
}

.posting-row .subreddit {
    min-width: 50px;
}