.posting-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    min-height: 75px;
}

.posting-row .upvotes {
    min-width: 60px;
    text-align: center;
}

.posting-row img {
    max-width: 80px;
    max-height: 80px;
}

.posting-row .post-title {
    margin: 0px 10px;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.spacer {
    flex: 1;
}

.posting-row .subreddit {
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}

@media only screen and (max-width: 500px) {
    .posting-row .subreddit {
        display: none;
    }
}