.subs-dropdown {
    position: fixed;
    padding: 10px;
}

.subs-dropdown.dropped {
    background: #efefef;
    border-radius: 10px;
}

.subs-dropdown input {
    margin: 5px 5px 2px 0px;
    height: 20px;
}

.subs-dropdown .subreddit-row {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
